_data/webpackManifest.json
_site/

.sass-cache/
.jekyll-cache/
.jekyll-metadata
.bundle/
.gembuild
vendor/

jekyll-theme-pirati*gem

node_modules

*DS_Store
*.swp

Gemfile.lock #https://github.com/bundler/bundler/issues/635 
