<aside class="o-section">
  <div class="o-section-inner o-section-inner--rightBlock">
    {% if page.rbar contains 'foto' %}
      {% include right-bar/bar_foto.html %}
    {% endif %}
    {% if page.rbar contains 'personContact' %}
      {% include right-bar/bar_person_contact.html %}
    {% endif %}
    {% if page.rbar contains 'garant' %}
      {% include right-bar/bar_garant.html %}
    {% endif %}
    {% if page.rbar contains 'program' %}
      {% include right-bar/bar_program.html %}
    {% endif %}
    {% if page.rbar contains 'cal' and site.calendar %}
      {% include right-bar/bar_cal.html %}
    {% endif %}
    {% if page.rbar contains 'people' %}
      {% include right-bar/bar_people.html %}
    {% endif %}
    {% if page.rbar contains 'video' %}
      {% include right-bar/bar_video.html %}
    {% endif %}
    {% if page.rbar contains 'fb' and site.facebook.profilePage %}
      {% include right-bar/bar_fb.html %}
    {% endif %}
    {% if page.rbar contains 'tw' and site.twitter.profile %}
      {% include right-bar/bar_tw.html %}
    {% endif %}
  </div>
</aside>
