<div class="c-program-candidate-badge{% if include.leader %} c-program-candidate-badge--leader{% endif %}">
  {% assign person = site.people | where_exp:"item","item.uid contains include.candidate" | first  %}
  <a class="c-program-candidate-badge__body" href="{{ person.url | relative_url }}">
      <div class="c-program-candidate-badge__avatar">
          <span class="c-program-candidate-badge__rank"><span>{{ include.position }}.</span></span>
          {% capture img %}{% if person.img %}{% asset '{{ person.img }}' magick:resize='240x240^' magick:gravity='center' magick:crop='240x240+0+0' @path %}{% else %}{{ 'assets/img/people/unknown-pirate.svg' | relative_url }}{% endif %}{% endcapture %}
          <img src="{{ img }}" alt="{{ include.candidate.fullname }}" class="c-program-candidate-badge__avatar-image">
      </div>
      <div class="c-program-candidate-badge__description">
          <h4 class="c-program-candidate-badge__name t-h2"><span class="c-headline-anchor">{{ person.fullname }}</span></h4>
          <strong class="c-program-candidate-badge__profession">{{ person.profession }}</strong>
          <p class="c-program-candidate-badge__bio">{{ person.candidateDescription }}</p>
      </div>
  </a>
</div>
