<div class="c-program-candidate-badge{% if include.leader %} c-program-candidate-badge--leader{% endif %}">
  <a class="c-program-candidate-badge__body" href="{{ include.candidate.url | relative_url }}">
      <div class="c-program-candidate-badge__avatar">
          <span class="c-program-candidate-badge__rank"><span>{{ include.candidate.cityCandidatePosition }}.</span></span>
          {% capture img %}{% if include.candidate.img %}{{ include.candidate.img }}{% else %}people/unknown-pirate.svg{% endif %}{% endcapture %}
          <img src="{{ img | prepend: '/assets/img/' | relative_url }}" alt="{{ include.candidate.fullname }}" class="c-program-candidate-badge__avatar-image">
      </div>
      <div class="c-program-candidate-badge__description">
          <h4 class="c-program-candidate-badge__name t-h2"><span class="c-headline-anchor">{{ include.candidate.fullname }}</span></h4>
          <strong class="c-program-candidate-badge__profession">{{ include.candidate.profession }}</strong>
          <p class="c-program-candidate-badge__bio">{{ include.candidate.candidateDescription }}</p>
      </div>
  </a>
</div>
