<div class="text-right show-for-medium-up hide-for-print">
    <a href="{{ site.github.url }}edit/{{ site.github.branch}}/{{ page.path }}" class="label secondary" style="background-color:#bbb">
      <i class="fa fa-pencil"></i>
      Navrhni úpravu
    </a>
</div>

<footer class="o-section o-section--tiled o-section--bigger u-inverted u-cf">
  <div class="o-section-inner">
    <div class="row">
      <div class="medium-12 u-stacked-medium-down">
        <p class="u-maxWidth80percent u-smaller-line-height">
          <img src="{{ 'assets/img/brand/logo-round.svg' | relative_url }}" style="width: 170px; padding-right:30px" alt="Česká pirátská strana" class="u-center-medium-down">
          <span class="u-mirror-horizontally">&copy;</span> Piráti, 2018. Všechna práva vyhlazena.
          Sdílejte a nechte ostatní sdílet za stejných podmínek.
        </p>
      </div>
    </div>
  </div>
</footer>

<div class="__vue-root" data-app="ScrollTop"></div>
