<div class="o-section-block o-section-block-fill">
  <div class="c-headline-image">
    {% capture imgPath %}{% asset '{{ include.image }}' magick:resize='751x422^' magick:gravity='center' magick:crop='751x422+0+0' @path %}{% endcapture %}

    <div class="c-headline-image__background">
      <img src="{{ imgPath }}" alt="{{ include.title}}">
    </div>

    <div class="row small-collapse medium-uncollapse">
      <div class="small-12 columns">
        <div class="o-section-inner--medium">
          <img src="{{ imgPath }}" alt="{{ include.title }}"> </div>
      </div>
    </div>

  </div>
</div>
