.o-media {
  display: flex;
  width: 100%;
  background-color: $white;
}

.o-media__image,
.o-media__body {
  @include breakpoint(mobile down) {
      display: block;
  }
}

.o-media__image {
  padding-right: 0.85rem;
  flex-shrink: 0;

  img {
      display: block;
      width: 100%;
      max-width: 100%;
  }

  .o-media--rev & {
      padding-right: 0;
      padding-left: 0.85rem;
  }

  &.o-media__image--lgspace {
      padding-right: 1.75rem;
  }

  &.o-media__image--round img {
      border-radius: 50%;
  }

}

.o-media__body {
  width: 100%;

  > p:last-of-type {
      margin-bottom: 0;
  }

  @include breakpoint(mobile down) {
      margin-top: 2rem;
  }

  .o-media__headline {
      font-size: 1.4rem;
      color: $primary-color;
  }
}

.o-media__body-inner {
  &.o-media__body-inner--padded {
      padding: .85rem .85rem .85rem 0;
  }
}

.o-media-list + .o-media-list {
  margin-top: .65rem;
}
