$facebook-color: #1672b9;
$twitter-color: #91cfff;
$gplus-color: #cc0303;
$instagram-color: #d10869;
$pinterest-color: #cb2027;
$tumblr-color: #32506d;
$reddit-color: #ff4500;
$linkedin-color: #007bb5;
$envelope-color: #444444;
