{% if team.size > 0 %}
<ul class="c-simple-accordion" data-accordion="" data-options="allowAllClosed: true">
  <li class="c-simple-accordion-item is-active" data-accordion-item="">
    <a href="#{{ team_shortcut }}" class="c-simple-accordion-title c-emphasized-anchor"><h2 class="c-simple-accordion__headline">{{ team_name }}</h2></a>
    <div id="{{ team_shortcut }}" class="c-simple-accordion-content" data-tab-content="">
        {% include people/list-responsive.html team=team %}
    </div>
  </li>
</ul>
{% endif %}
