---
layout: default
---

<div class="row o-section">
  <div class="columns large-12">
    <header class="c-page-header">
      <h1 itemprop="headline" class="c-page-title">O nás</h1>
    </header>
  </div>
</div>

<div class="row o-section-block o-section-block--divided">
  <section class="large-12 columns">
      {% assign team = site.people | where_exp:"item","item.categories contains 'pms'" | sort:"ordpms" %}
      {% include people/list-group.html team=team teamName='Místní předsednictvo' teamShortcut='pms' %}
  </section>
</div>
<hr>
<div class="row o-section-block o-section-block--divided">
  <section class="large-12 columns">
    {% assign team = site.people | where_exp:"item","item.categories contains 'clenove'" %}
    {% include people/list-group.html team=team teamName='Členové' teamShortut='clenove' %}
  </section>
</div>
<hr>
<div class="row o-section-block o-section-block--divided">
  <section class="large-12 columns">
    {% assign team = site.people | where_exp:"item","item.categories contains 'priznivci'" %}
          {% include people/list-group.html team=team teamName='Aktivní příznivci' teamShortcut='priznivci' %}
  </section>
</div>
