---
layout: default
---

<div class="row o-section-block o-section-block--divided">
  <div class="medium-12 large-12 columns">
    <section class="o-section">
      <div class="o-section-inner">
        <main class="o-section-block">
          <div class="c-BasicPage">
            <div class="c-BasicPage-content">

              {% assign team = site.people | where_exp:"item","item.categories contains 'pms'" | sort:"ordpms" %}
              {% assign team_name = "Místní předsednitvo" %}
              {% assign team_shortcut = "pms" %}
              {% include people/list_group.html param=team param=team_name team=team_shortcut %}

              {% assign team = site.people | where_exp:"item","item.categories contains 'clenove'" %}
              {% assign team_name = "Členové" %}
              {% assign team_shortcut = "clenove" %}
              {% include people/list_group.html param=team param=team_name team=team_shortcut %}

              {% assign team = site.people | where_exp:"item","item.categories contains 'priznivci'" %}
              {% assign team_name = "Aktivní příznivci" %}
              {% assign team_shortcut = "priznivci" %}
              {% include people/list_group.html param=team param=team_name teamm=team_shortcut %}
            </div>
          </div>
        </main>
      </div>
    </section>
    <!-- /. o-section -->
  </div>
</div>
