.pagination {
  margin-top: 4rem;

  @include breakpoint(mobile down) {
    margin-top: 1rem;
  }

  a {
    padding: $button-padding;
    color: $anchor-color;
  }

  .pagination-previous a,
  .pagination-next a {
    color: $button-color;
    background-color: $button-fill;
  }
}
