@mixin emphasizedAnchor {
  text-decoration: underline;

  &.active {
    background-color: $primary-color;
    color: $secondary-color;
    font-weight: bold;
    text-decoration: none;
  }

}

@mixin headlineAnchor {
  // &:hover {
  //   text-decoration: underline;
  // }
}

@mixin headerStyle($header) {
  @each $breakpointSize, $headers in $header-sizes {
    @include breakpoint($breakpointSize) {
      font-family: $header-font-family;
      font-size: rem-calc(map-get($headers, $header));
      font-weight: $header-font-weight;

      @if($header == 'h1' or $header == 'h2') {
        letter-spacing: .02em;
      }

      @if($header == 'h3') {
        letter-spacing: .04em;
      }

      @if($header == 'h4' or $header == 'h5' or $header == 'h6') {
        letter-spacing: .1em;
      }
    }
  }
}

h1 {
  @include headerStyle('h1');
}
h2 {
  @include headerStyle('h2');
}
h3 {
  @include headerStyle('h3');
}
h4 {
  @include headerStyle('h4');
}
h5 {
  @include headerStyle('h5');
}
h6 {
  @include headerStyle('h6');
}

// @note: .t-h* styles take precendence.
.t-h1 {
  @include headerStyle('h1');
}
.t-h2 {
  @include headerStyle('h2');
}
.t-h3 {
  @include headerStyle('h3');
}
.t-h4 {
  @include headerStyle('h4');
}
.t-h5 {
  @include headerStyle('h5');
}
.t-h6 {
  @include headerStyle('h6');
}

.t-subheader {
  font-weight: normal;
  color: $dark-gray;
}

.t-h {
  font-family: $header-font-family;
}

// Special page title header
.c-page-title {
  font-size: 3.157334518321rem;
  font-weight: bold;
  font-family: $header-font-family-super;
  margin-bottom: 0;
  letter-spacing: 0;

  @include breakpoint(medium down) {
    font-size: 2.441rem;
  }
}

// Page header section with provided whitespace for clean separation from the content
.c-page-header {
  padding-bottom: 2rem;
}

// The block will have larger text for better readability. Often used with
// conjuction to .c-content-block
.c-emphasized-text {
  font-size: 1.15rem;
}

.c-emphasized-anchor {
  @include emphasizedAnchor();
}

.c-headline-anchor {
  @include headlineAnchor();
}

