@mixin emphasizedAnchor {
  text-decoration: underline;

  &.active {
    background-color: $primary-color;
    color: $secondary-color;
    font-weight: bold;
    text-decoration: none;
  }

}

@mixin headlineAnchor {
  // &:hover {
  //   text-decoration: underline;
  // }
}

@mixin headerStyle($header, $type: main) {
  $settings: map-get($headers, $type);

  @each $breakpointSize, $headers in map-get($settings, sizes) {
    @include breakpoint($breakpointSize) {
      font-family: #{map-get($settings, family)};
      font-size: rem-calc(map-get($headers, $header));
      font-weight: map-get($settings, weight);

      // @if($header == 'h1' or $header == 'h2') {
      //   letter-spacing: .02em;
      // }

      // @if($header == 'h3') {
      //   letter-spacing: .04em;
      // }

      // @if($header == 'h4' or $header == 'h5' or $header == 'h6') {
      //   letter-spacing: .1em;
      // }
    }
  }
}

@mixin fontFeatures() {
  font-feature-settings: "kern", "onum", "liga";
  font-kerning: auto;
  text-rendering: optimizeLegibility;
}

h1 {
  @include headerStyle('h1');
}
h2 {
  @include headerStyle('h2');
}
h3 {
  @include headerStyle('h3');
}
h4 {
  @include headerStyle('h4');
}
h5 {
  @include headerStyle('h5');
}
h6 {
  @include headerStyle('h6');
}

// @note: .t-h* styles take precendence.
.t-h1 {
  @include headerStyle('h1');
}
.t-h2 {
  @include headerStyle('h2');
}
.t-h3 {
  @include headerStyle('h3');
}
.t-h4 {
  @include headerStyle('h4');
}
.t-h5 {
  @include headerStyle('h5');
}
.t-h6 {
  @include headerStyle('h6');
}

.t-h1-super {
  @include headerStyle('h1', super);
}

.t-h2-super {
  @include headerStyle('h2', super);
}

.t-h3-super {
  @include headerStyle('h3', super);
}

.t-h4-super {
  @include headerStyle('h4', super);
}

.t-h5-super {
  @include headerStyle('h5', super);
}

.t-h6-super {
  @include headerStyle('h6', super);
}

.t-subheader {
  font-weight: normal;
  color: $dark-gray;
}

.t-h {
  font-family: $header-font-family;
}

// Special page title header
.c-page-title {
  margin-bottom: 0;

  @include headerStyle('h1', super);
}

// Page header section with provided whitespace for clean separation from the content
.c-page-header {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

// The block will have larger text for better readability. Often used with
// conjuction to .c-content-block
.c-emphasized-text {
  font-size: 1.15rem;
}

.c-emphasized-anchor {
  @include emphasizedAnchor();
}

.c-headline-anchor {
  @include headlineAnchor();
}

.t-font-features {
  @include fontFeatures();
}
