.c-widget-accordion {
  @include accordion-container;
  background: $primary-color;
}

.c-widget-accordion + .c-widget-accordion {
  margin-top: 1rem;
}

.c-widget-accordion-link {
  position: relative;
  font-family: $header-font-family-sub;
  font-size: 1.5rem;
  padding: 0;
  padding-left: 1rem;
  display: table;
  height: 50px;
  min-height: 50px;
  line-height: 1;
  width: 100%;
  background: $primary-color !important;

  &:before {
    position: absolute;
    right: 1rem;
    top: 50%;
    content: '\f196';
    font-family: 'FontAwesome';
    font-size: 1.4rem;
    margin-top: -0.7rem;
    color: $white;
  }
}

.c-widget-accordion .c-widget-accordion-item {
  &.is-active .c-widget-accordion-link:before {
    content: '\f147';
  }

  .c-widget-accordion-link.c-widget-accordion-link--fb:before {
    content: '\f09a';
    margin-right: 0.5rem;
  }

  .c-widget-accordion-link.c-widget-accordion-link--twitter:before {
    content: '\f099';
    margin-right: 0.5rem;
  }

  .c-widget-accordion-link.c-widget-accordion-link--fb:hover,
  .c-widget-accordion-link.c-widget-accordion-link--twitter:hover {
    background: #2785ce !important;
    cursor: default;
  }
}

.c-widget-accordion .c-widget-accordion__icon,
.c-widget-accordion .c-widget-accordion__title {
  display: table-cell;
  vertical-align: middle;
  line-height: normal;
  color: $white;
  white-space: nowrap;
}

.c-widget-accordion .c-widget-accordion__title--noicon {
  width: 100%;
}

.c-widget-accordion .c-widget-accordion__title--plain {
  font-family: $body-font-family;
  font-weight: 600;
  font-size: 1.15rem;
}

.c-widget-accordion .c-widget-accordion__icon {
  opacity: 0.2;
  font-size: 2rem;
  padding-left: 1rem;
  line-height: 0;

  i.fa-lg {
    font-size: 3rem;
  }
}

.c-widget-accordion
.c-widget-accordion__icon.c-widget-accordion__icon--bottom {
  vertical-align: bottom;
}

.c-widget-accordion
.c-widget-accordion__icon.c-widget-accordion__icon--bottomPulled i {
  margin-bottom: -0.2em;
}

.c-widget-accordion
.c-widget-accordion__icon.c-widget-accordion__icon--top {
  vertical-align: top;
}

.c-widget-accordion span:last-child {
  white-space: nowrap;
  width: 100%;
}

.c-widget-accordion .c-widget-accordion-content {
  padding: 1rem;
  background: $white;
  border: 3px $primary-color solid;

  &.c-widget-accordion-content--nopad {
    padding: 0;
  }
}

.c-widget-accordion .c-widget-accordion-link {
  border: 0;
  border-bottom: 0;
}

.c-widget-accordion .c-widget-accordion-content__cta {
  margin-top: 1rem;
}

.c-widget-accordion .c-widget-accordion-list {
  margin-left: 0;
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }
}

// Colors
.c-widget-accordion.c-widget-accordion--alert {
  background: $alert-color;
}

.c-widget-accordion.c-widget-accordion--alert
 .c-widget-accordion-link {
  background: $alert-color !important;
}

.c-widget-accordion.c-widget-accordion--dark
 .c-widget-accordion-link {
  background: $dark-gray !important;
}
