---
layout: page
---
{% assign candidates = site.kandidatka | where: "uid", page.candidateList | first %}
{% assign programCategories = site.program | where_exp:"item", "item.categories contains page.programCategory" | sort:"order" %}

{% if candidates.number %}
<div class="row u-stacked">
  <div class="columns">
  <div class="c-tile c-tile--inverted c-tile--fill">
    <div class="c-tile__body u-center">
      <h1 class="u-0margin">Volte číslo {{ candidates.number }}!</h1>
    </div>
  </div>
  {% comment %}
  Tohle bych tělo ještě tučněji, nějak s tím víc graficky pracovat.
  {% endcomment %}
  </div>
</div>
{% endif %}

<div class="row u-stacked">
  <div class="columns">{{ content }}</div>
</div>

<div class="o-section">
  <div class="row">
    <div class="columns medium-8">
      <div class="o-section-header">
        <h3 class="o-section__heading o-section__heading--small">Kandidátní listina</h3>
      </div>
      <div class="c-program-candidates">

        {% assign leaderCandidate = site.people | where: "uid", candidates.leader.uid | first %}
        {% include candidate-badge.html candidate=leaderCandidate leader=true rank=1 age=candidates.leader.age profession=candidates.leader.profession description=candidates.leader.description party=candidates.leader.party %}

        {% if candidates.head.size %}
          <div class="c-program-candidates__others">
            {% for candidate in candidates.head %}
              {% assign candidatePage = site.people | where: "uid", candidate.uid  | first %}
              {% assign candidateRank = forloop.index | plus: 1 %}
              {% assign loopindex = forloop.index | modulo: 3 %}
              {% if loopindex == 1 %}<div class="c-program-candidates__row">{% endif %}
                {% include candidate-badge.html candidate=candidatePage leader=false rank=candidateRank age=candidate.age profession=candidate.profession description=candidate.description party=candate.party %}
              {% if loopindex == 0 or forloop.last %}</div>{% endif %}
            {% endfor %}
          </div>
        {% endif %}

        {% if candidates.tail.size > 0 %}
          <div class="c-program-candidates__others">
            {% for candidate in candidates.tail %}
              <p>
                {% assign candidateRank = forloop.index | plus: 1 | plus: candidates.head.size %}
                <strong>{{ candidateRank }}. {{ candidate.name }}{% if candidate.age or candidate.profession or candidate.party %}, {% endif %}</strong>

                {% if candidate.age %}
                    {{ candidate.age }} let{% if candidate.profession or candidate.party %}, {% endif %}
                {% endif %}
                {% if candidate.profession %}
                    {{ candidate.profession }}{% if candidate.party %}, {% endif %}
                {% endif %}
                {% if candidate.party %}
                    {{ candidate.party }}
                {% endif %}
              </p>
            {% endfor %}
          </div>
        {% endif %}

      </div>

      {% if candidates.note %}
        <p><strong>Pozn.:</strong> {{ candidates.note }}</p>
      {% endif %}
    </div>
    <div class="columns medium-4">
      <div class="o-section-header">
        <h3 class="o-section__heading o-section__heading--small">Program</h3>
      </div>
      <div class="c-program-items">
          {% for category in programCategories %}
          <div class="c-program-items__item">
            <div class="c-program-items__item-wrap c-tile">
              <div class="c-program-items__item-inner c-tile__body">
                <a href="{{ category.url | relative_url }}">
                  <h3 class="c-program-items__item-title t-h2 c-headline-anchor">{{ category.title }}</h3>
                  <p>{{ category.perex }}</p>
                </a>
              </div>
            </div>
          </div>
          {% endfor %}
      </div>
    </div>
  </div>
</div>
