---
layout: page
submenu: 'submenu/komunalni-volby.html'
---

<div class="row">
  <div class="columns">{{ content }}</div>
</div>

<div class="o-section">
  <div class="row">
    <div class="columns medium-8">
      <div class="o-section-header">
        <h3 class="o-section__heading o-section__heading--small">Kandidátní listina</h3>
      </div>
      <div class="c-program-candidates">
        {% assign electionSettings = site.data.elections.campaigns | where: "category", page.category | first %}
        {% assign leaderCandidateUid = electionSettings.candidates | first %}
        {% assign leaderCandidate = site.people | where: "uid", leaderCandidateUid | first %}
        {% include candidate-badge.html candidate=leaderCandidate leader=true rank=1 %}

        <div class="c-program-candidates__others">
          {% assign otherCandidateUids = electionSettings.candidates | slice: 1, electionSettings.candidates.size %}
          {% for candidateUid in otherCandidateUids %}
            {% assign candidate = site.people | where: "uid", candidateUid  | first %}
            {% assign candidateRank = forloop.index | plus: 1 %}
            {% assign loopindex = forloop.index | modulo: 3 %}
            {% if loopindex == 1 %}<div class="c-program-candidates__row">{% endif %}
              {% include candidate-badge.html candidate=candidate leader=false rank=candidateRank %}
            {% if loopindex == 0 or forloop.last %}</div>{% endif %}
          {% endfor %}
        </div>
      </div>

      {% if page.note %}
        <p><strong>Pozn.:</strong> {{ page.note }}</p>
      {% endif %}
    </div>
    <div class="columns medium-4">
      <div class="o-section-header">
        <h3 class="o-section__heading o-section__heading--small">Program</h3>
      </div>
      <div class="c-program-items">
          {% assign programCategories = site.program | where_exp:"item", "item.categories contains page.category" | sort:"order" %}
          {% for category in programCategories %}
          <div class="c-program-items__item">
            <div class="c-program-items__item-wrap">
              <div class="c-program-items__item-inner">
                <a href="{{ category.url | relative_url }}">
                  <h3 class="c-program-items__item-title t-h2 c-headline-anchor">{{ category.title }}</h3>
                  <p>{{ category.perex }}</p>
                </a>
              </div>
            </div>
          </div>
          {% endfor %}
      </div>
    </div>
  </div>
</div>
