<h2>Základní údaje</h2>
<table>
<tbody>
    TODO: kodo, dary, datová schránka, (ikonky)
    <tr>
        <td class="cell-description">
            <i class="cell-icon fa fa-envelope"></i>
            <span class="cell-text">Emailová adresa:</span>
        </td>
        <td>
            <a href="mailto:{{ sitedata.links.group.email }}">{{ site.data.links.group.email }}</a> 
        </td>
    </tr>
    <tr>
        <td class="cell-description">
            <i class="cell-icon fa fa-envelope"></i>
            <span class="cell-text">Podatelna (Redmine):</span>
        </td>
        <td>
            <a href="{{ site.organization.redmineLink }}">podatelna</a>
        </td>
    </tr>
    <tr>
        <td class="cell-description">
            <i class="cell-icon fa fa-envelope"></i>
            <span class="cell-text">Telefonický kontakt</span>
        </td>
        <td><a href="tel:{{ site.organization.phone }}">{{ site.organization.phone }}</a></td>
    </tr>
    <tr>
        <td class="cell-description">
            <i class="cell-icon fa fa-desktop"></i>
            <span class="cell-text">Celostátní web</span>
        </td>
        <td>
            <a href="https://www.pirati.cz">www.pirati.cz</a>
        </td>
    </tr>
</tbody>
</table>
