<div class="o-media">
    {% if site.organization.residenceImg %}
    <div class="o-media__section">
      {% asset '{{ site.organization.residenceImg }}' magick:resize='200x' alt='Sídlo' %}
    </div>
    {% endif %}
    <div class="o-media__section">
        <h3 class="t-h5-super">{{ site.organization.name }}</h3>
        <p>{{ site.organization.address | newline_to_br }}</p>
        {% if site.organization.mapLink %}
          <p>
            <a class="c-emphasized-anchor" href="{{ site.organization.mapLink }}">Zobrazit mapu ›</a>
          </p>
        {% endif %}
    </div>
</div>
